.bills-container {
  padding: 0;
}

.month-group {
  width: 100%;
}

.month-header {
  width: 100%;
  background-color: #354050;
  color: #ecf0f1;
  border-top: solid white 1px;
  border-bottom: solid black 1px;
  padding: 5px 10px;
}

.bills-list {

}

.bill-item {
  border-bottom: solid 1px #eee;
  padding: 20px 10px;
  display: flex;
  align-items: center;
}

.bill-item:hover {
  background-color: #eee;
}

.bill-date {
  color: #95a5a6;
  text-align: center;
  padding: 0;
}

.bill-month {
  font-size: 12px;
}

.bill-day {
  font-size: 24px;
}

.bill-title {
  padding: 0;
  font-size: 20px;
}

.bill-paid-by {
  padding: 0;
  text-align: right;
}

.bill-payer {
  color: #95a5a6;
  font-size: 13px;
}

.paid-amount {
  font-size: 19px;
}

.bill-actions i {
  padding: 0 10px;
  font-size: 25px;
}

.bill-actions i:hover {
  cursor: pointer;
}

.fa-trash-o {
  color: #e74c3c;
}

.fa-pencil-square-o {
  color: #3498db;
}
