.dashboard {
  height: 100%;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.dashboard-container {
  background-color: white;
  padding: 0;
  float: none;
  margin: 0 auto;
  height: 100%;
}
