.add-friend-modal {
  background: white;
  position: absolute;
  overflow: auto;
  border-radius: 10px;
  outline: none;
  border: solid 1px #ddd;
  box-shadow: 0 2px 8px #bbb;
  width: 550px;
}

.add-friend-modal .modal-form {
  padding: 20px 30px;
}

.friend-name, .friend-email, .friend-message {
  width: 100%;
  margin-bottom: 35px;
  resize: none;
}

.friend-message {
  margin-bottom: 10px
}
