.left-sidebar {
  height: 100%;
  min-height: 100vh;
  background-color: #354050;
  color: #9fabbd;
  box-shadow: black 3px 0 3px;
  padding: 0 0 20px;
  cursor: default;
}

.user-greeting {
  text-align: center;
}

.user-greeting .amount .green {
  color: #2ecc71;
}

.user-greeting img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 20px auto 10px;
  box-shadow: black 0px 1px 3px;
}

.user-friends {
  display: flex;
}

.sidebar-friends-list {
  flex: 1 50%;
  border-right: 3px solid rgba(0, 0, 0, 0.15);
  margin: -10px 0;
}

.add-friend {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  margin: -10px 0;  
  -webkit-transition: background-color 100ms, color 100ms;
}

.add-friend:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
  color: #ecf0f1;
  -webkit-transition: background-color 100ms, color 100ms;
}

.left-sidebar .add-friend i {
  margin: 0;
}

.user-friends ul li {
  margin: 5px 0 10px 30px;
  font-size: 13px;
}

.section-split {
  border-top: 3px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 10px 0;
}

.left-sidebar section p, .left-sidebar button, .left-sidebar ul {
  padding: 15px 25px;
  width: 100%;
  -webkit-transition: border 100ms, background-color 100ms, color 100ms;
}

.left-sidebar section p:hover, .left-sidebar button:hover {
  background-color: rgba(255,255,255,0.2);
  border-left: solid 5px #3498db;
  color: #ecf0f1;
  cursor: pointer;
  -webkit-transition: border 100ms, background-color 100ms, color 100ms;
}

.left-sidebar i {
  margin-right: 15px;
}

.left-sidebar ul {
  padding: 0 25px;
}

.left-sidebar li {
  margin: 5px 0;
}
