.splash-screen {
  background:
  linear-gradient(
    rgba(53, 64, 80, 0.5),
    rgba(53, 64, 80, 0.5)
  ),
  /* bottom, image */
  url('http://res.cloudinary.com/clapinton/image/upload/c_scale,w_1920/v1478883931/photo-1429681601148-75510b2cef43_wcfalc.jpg') center center no-repeat;
  background-size: cover;
  color: #ecf0f1;
  width: 100%;
  height: 100%;
  min-height: 800px;
  padding: 70px 0 100px;
  background-attachment: fixed;
}

.splash-screen-logo img {
  width: inherit;
  margin: 0 auto 20px;
}

.splash-screen h1 {
  text-align: center;
  margin: 30px 0 80px;
  font-size: 60px;
  text-shadow: 0px 3px 5px black;
}

.splash-screen h1 span {
  text-decoration: underline;
}

.session-form-wrapper {
  color: #2c3e50;
  background-color: #ecf0f1;
  width: 30%;
  margin: auto;
  padding: 30px;
  text-align: center;
  border-radius: 3px;
  font-size: 17px;
  box-shadow: black 0px 5px 12px -1px;
}

.session-form-wrapper h2 {
  font-size: 35px;
}

.session-form-wrapper label {
  color: #95a5a6;
}

.session-form-wrapper input {
  border-bottom: solid 1px #bdc3c7;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}

.session-form-wrapper button {
  background-color: #27ae60;
  color: #ecf0f1;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-transition: background-color 200ms;
}

.session-form-wrapper a {
  font-size: 12px;
  color: #3498db;
}

.session-form-wrapper button:hover {
  background-color: #2ecc71;
  -webkit-transition: background-color 200ms;
}

.session-form-buttons button {
  float: left;
  margin: 10px 3%;
  width: 44%;
}

.session-form-wrapper .guest-login-btn {
  background-color: #8e44ad;
}

.session-form-wrapper .guest-login-btn:hover {
  background-color: #9b59b6;
}
