<!DOCTYPE html>
<html>
<head>
  <title>Diffindo</title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Quicksand|Raleway|Rubik" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
